html{
background: url('https://image.ibb.co/i68Cfw/2.jpg');
}

h1{
	background: black;
	color: white;
}
body{
}
.t1{
	background: black;
	border: 1px solid;
	color:white;
	margin: auto;
}
td{
	border: 1px solid gray;
	margin: 10px;
	padding: 2px;
}
.t2{
	margin: auto;
	background: black;
	border: 1px solid;
	color:white;
}
footer{
text-align: center;
background: black;
color: white;
}